.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .modal-body {
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overlay .modal-body h2 {
    font-size: 30px;
    color: black;
}

.modal-overlay .modal-body .input-container {
    width: calc(100% - 24px);
}

.modal-overlay .modal-body input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: black;

    margin-bottom: 12px;
}

.modal-overlay .modal-body label {
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .modal-body .btn-secondary {
    position: initial;
    margin-top: 32px;
}

.modal-overlay .modal-body .btn-secondary:hover {
    background-color: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1);
}