.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.container button {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  bottom: 16px;
  right: 24px;
  transition: all 0.1s linear 0.1s;
  margin-bottom: 10px;
}
.container button:hover {
  background-color: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
  transform: scale(1.1);
}